<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40-Client" />
  <package id="Common.Logging.Log4Net" version="2.0.1" targetFramework="net40-Client" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40-Client" />
  <package id="log4net" version="1.2.10" targetFramework="net40-Client" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="net40-Client" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="net40-Client" />
</packages>